.container {
  @include container-fixed;

  @include portable { width: $container-portable; }
  @include laptop { width: $container-laptop; }
  @include desktop { width: $container-desktop; }

}

.container--full {
  @include container-fixed;
}

.group {
  @include make-group;
}

@include make-grid-columns;

@include make-grid(palm);
@include portable { @include make-grid(portable); }
@include laptop { @include make-grid(laptop); }
@include desktop { @include make-grid(desktop); }
