
// Main Colors
$color-1:                    #BCC119;
$color-1-dark:               darken($color-1, 15%);
$color-1-darker:             darken($color-1, 30%);
$color-1-light:              lighten($color-1, 15%);
$color-1-lighter:            lighten($color-1, 30%);

$color-2:                    #998650;
$color-2-dark:               darken($color-2, 15%);
$color-2-darker:             darken($color-2, 30%);
$color-2-light:              lighten($color-2, 15%);
$color-2-lighter:            lighten($color-2, 30%);

$color-3:                    #F5BB00;
$color-3-dark:               darken($color-3, 15%);
$color-3-darker:             darken($color-3, 30%);
$color-3-light:              lighten($color-3, 15%);
$color-3-lighter:            lighten($color-3, 30%);

$color-4:                    #BF3100;
$color-4-dark:               darken($color-4, 15%);
$color-4-darker:             darken($color-4, 30%);
$color-4-light:              lighten($color-4, 15%);
$color-4-lighter:            lighten($color-4, 30%);

$white:                      #fff;
$black:                      #000;

$gray:                      #55595c;
$gray-dark:                 #373a3c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;

$brand-primary:             $color-1;
$brand-success:             #5cb85c;
$brand-info:                $color-2;
$brand-warning:             #f0ad4e;
$brand-danger:              #d9534f;

// Text & Border Colors
$body-bg:                    lighten($color-1, 50%);
$body-color:                 $gray-dark;
