ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: .5em;
    padding-left: 1em;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: .5em;
    padding-left: 1em;
  }

  &.nav {
    list-style-type: none;

    li {
      display: inline-block;
      padding: 0 .5em;
    }

  }
}

dl {
  margin-bottom: .5em;

  dt {
    font-weight: bold;
    margin-top: .5em;
  }

  dd {
    margin: 0;
  }
}
