.expander {

  .expander--toggle {
    position: absolute;
    display: block;
    top: 50%;
    right: 1em;
    color: #fff;
    cursor: pointer;
    user-select: none;
    transform: translateY(-50%);

    @include portable {
      display: none;
    }
  }

  .expander--content {

    @include palm {
      @include clearfix;
      visibility: collapse;
      max-height: 0;
      transition: visibility .25s ease, max-height .5s ease;
    }
  }

  .widget--header .expander--toggle .fa--toggle:before {
    content: "\f0c9";
  }

  &.expander--open > .widget--header
  .expander--toggle .fa--toggle:before {
    content: "\f00d";
  }

  &.expander--open > .expander--content {
    visibility: visible;
    max-height: 200em;
  }

}
