.feature--news {
  padding: 4rem 0;
  background-color: $color-1-dark;
  text-align: left;

  .section--heading {
    color: #fff;
    text-align: center;
  }

  .nav-stacked > li {
    border-bottom: .1rem dotted rgba($color-1-dark, .5);
  }

  .nav-stacked > li > a {
    color: $gray-dark;
  }
}
