html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100%;
  padding-top: $header-height;

  @include media-breakpoint-up(sm) {
    padding-top: $header-height;
  }
}
