.footer--wrap {
  position: relative;
  padding: 3rem 0;
  background-color: $gray-dark;
  text-align: center;

  @include media-breakpoint-up(sm) {
    text-align: left;
  }

  h5 {
    color: #fff;
  }

  ul {
    margin-bottom: $grid-gutter-width / 2;
  }

  ul > li {
    padding: .5rem 0;

    @include media-breakpoint-up(sm) {
      padding: 0 0 .5rem .5rem;
    }
  }

  ul > li > a {
    color: rgba($white, .9);

    &:focus,
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }


}
