// Typography
$base-font-family:           "Open Sans", sans-serif;
$heading-font-family:        $base-font-family;

$base-root-size:             16px;
$base-font-size:             1rem;

$base-line-height:           1.5;
$heading-line-height:        1.1;

$heading-font-weight:        800;

$font-size-h1:               2.5rem;
$font-size-h2:               2rem;
$font-size-h3:               1.75rem;
$font-size-h4:               1.5rem;
$font-size-h5:               1.25rem;
$font-size-h6:               1rem;

// Other Sizes
$base-border-radius:         3px;
$base-spacing:               $base-line-height * 1em;
$small-spacing:              $base-spacing / 2;
$base-z-index:               0;

// Borders
$base-border:                1px solid $base-border-color;

// Animations
$base-duration:              250ms;
$base-timing:                ease;

// Breakpoints & Grid Settings
$screen-palm:               em(767px);
$screen-portable:           em(768px);
$screen-laptop:             em(992px);
$screen-desktop:            em(1200px);

$grid-columns:              12;
$grid-gutter-width:         1.875em;
$grid-float-breakpoint:     $screen-portable;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);

$container-portable:        (45em + $grid-gutter-width);
$container-laptop:          (58.75em + $grid-gutter-width);
$container-desktop:         (71.25em + $grid-gutter-width);
