
// Quick margins
.mb--ggw { margin-bottom: $grid-gutter-width/2; }
.mt--ggw { margin-top: $grid-gutter-width/2; }

// Floats
.pull--left { float: left; }
.pull--right { float: right; }
.pull--none { float: none; }


// Hide stuff
.hide--palm { @include palm { display: none !important; } }
.hide--portable { @include portable { display: none !important; } }
