.feature {
  position: relative;
  padding: 4em 0;
  background-color: $color-1-dark;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;

  @include portable {
    text-align: left;
  }

  &.feature--feed--down {
    background-color: $color-1-darker;

    &:before {
      position: absolute;
      content: " ";
      top: 0;
      left: 50%;
      border: solid transparent;
      border-color: rgba($color-1-dark, 0);
      border-top-color: $color-1-dark;
      border-width: 3em;
      transform: translateX(-50%);
    }
  }
}
