.footer--wrapper {
  position: relative;
  padding: 3em 0;
  background-color: #333;
  text-align: center;

  @include portable {
    text-align: left;
  }

  h5 {
    color: #fff;
  }

  ul > li {
    padding: 1em 0;

    @include portable {
      padding: 0 0 .5em .5em;
    }
  }

  ul > li > a {
    color: rgba(#fff, .9);

    &:focus,
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }


}
