.header--primary {
  @include clearfix;
  position: relative;
  height: 3em;
  background-color: $color-1;

  @include media-breakpoint-up(sm) {
    height: 5em;
  }

  .navbar--brand {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    img {
      display: block;
      height: 1.75em;
      width: auto;
      @include media-breakpoint-up(sm) {
        height: 3em;
      }
    }
  }

  .navbar--main {
    position: absolute;
    top: 50%;
    left: 25%;
    margin: 0;
    line-height: 5em;
    text-align: left;
    transform: translateY(-50%);
  }

  .navbar--sub {
    position: absolute;
    right: 0;
    top: 50%;
    text-align: right;
    transform: translateY(-50%);
  }

  .navbar--sub > .subnav--book > .navbar--book {
    display: inline-block;
    padding: .5em 1em .5em 1em;
    background-color: transparent;
    border: .2em solid rgba(#fff, .5);

    &:focus,
    &:hover {
      color: $color-1;
      border-color: #fff;
      background-color: #fff;
    }
  }

}
