.header--wrapper {
  @include clearfix;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  z-index: 999;
  background-color: $color-1;

  @include portable {
    position: relative;
    height: $header-height * 1.5;
  }

  .container {
    position: relative;
    height: 100%;
  }

  .navbar--brand {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 1em;
    transform: translateY(-50%);

    img {
      display: block;
      height: 2.5em;
      width: auto;

      @include portable {
        height: 4em;
      }
    }
  }

  .navbar--main {
    @include clearfix;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: $header-height * 1.5;
    text-transform: uppercase;

    @include portable {
      display: block;
    }

    a {
      position: relative;
      display: block;
      margin-right: .5em;
      color: #fff;
    }

    li.current_page_item > a,
    li.current_page_parent > a,
    li > a:focus,
    li > a:hover {
      color: $color-1-dark;
    }
  }

  .navbar--toggle {
    position: absolute;
    right: 0;
    top: 50%;
    color: #fff;
    margin-right: 1em;
    user-select: none;
    transform: translateY(-50%);

    @include portable {
      display: none;
    }

    &:active {
      color: $color-1-dark;
    }

    i {
      font-size: 2em;
    }
  }
}
