.main-wrapper {
  min-height: 100%;
  padding: 0;

  @include media-breakpoint-up(sm) {
    padding: 2rem 0 3rem;
  }

  .main--content {
    padding-top: .9375rem;
    padding-bottom: 2rem;

    .content--box {
      background-color: #fff;
      padding-top: 2rem;
    }
  }

}
