.main--wrapper {
  position: relative;
  min-height: 100%;

  @include portable {
    margin-top: $grid-gutter-width;
  }

  .main--content {
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: #fff;
  }
}
