body.nav--open {
  overflow-x: hidden;

  .nav--wrapper {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .5);
    transform: translateX(0);
  }
}

.nav--wrapper {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  padding-top: $header-height * 1.5;
  overflow: hidden;
  z-index: 1;
  background: $color-1-dark;
  -webkit-overflow-scrolling: touch;
  transition: transform .5s ease;
  transform: translateX(-100%);

  @include portable {
    display: none;
  }

  ul > li {
    line-height: 3em;
  }

  ul > li > a {
    color: #fff;
    font-weight: 800;
  }
}
