.page-template-template-events
.main--wrapper {
  margin-top: 0;

  .feature--text {
    color: #fff;
    text-align: center;
  }

  .feature--timeline::after {
    position: absolute;
    content: " ";
    height: 100%;
    top: 3em;
    left: 50%;
    border-left: .25em dotted #fff;
    transform: translateX(-50%);
  }

  .timeline--panel {
    background-color: $color-1-dark;
    margin-bottom: $grid-gutter-width;
    padding: $grid-gutter-width/2 $grid-gutter-width;
    color: #fff;
    background-color: $color-1-dark;
    border-radius: $base-border-radius;

    &:before {
      position: absolute;
      content: " ";
      top: 50%;
      right: -6em;
      border: solid transparent;
      border-color: rgba($color-1-dark, 0);
      border-left-color: $color-1-dark;
      border-width: 3em;
      transform: translateY(-50%);
    }

    @include portable {
      margin: 0 10em $grid-gutter-width 0;

    }

  }

  .timeline--panel:nth-child(odd) {


    @include portable {
      float: right;
      margin: 0 0 $grid-gutter-width 10em;

      &:before {
        right: 100%;
        border-left-color: rgba($color-1-dark, 0);
        border-right-color: $color-1-dark;
      }
    }
  }

}
