.page-template-template-shops
.main--wrapper {

  .main--content {
    @include portable {
      padding-top: 0;
    }
  }

  .filter--box {
    margin-bottom: $grid-gutter-width;

    @include portable {
      padding: 0;
      background-color: $color-1-dark;
    }

    .widget {
      margin: 0;
      padding: 0;
    }

    .expander .widget--header {
      @include portable {
        display: none;
      }
    }

    .nav {
      text-align: left;
      margin-left: -.9375em;
      margin-right: -.9375em;

      @include portable {
        text-align: center;
        margin: 0;
        padding: 0;
      }
    }

    .nav > li {
      display: inline-block;
      padding: 0;
      float: none;

      @include palm {
        line-height: 3em;
      }

      @include portable {
        float: left;
        border: none;

        &:first-child a {
          padding-left: 1em;
        }
      }
    }

    .nav > li > a {
      display: block;
      padding: 0 .75em;
      color: $color-1;
      transition: all .25s ease;

      @include portable {
        height: 5em;
        color: #fff;
        font-weight: 700;
        font-size: .75em;
        line-height: 1;
      }

      @include desktop {
        font-size: 1em;
      }

    }

    .nav > li > a[aria-selected="true"] {
      background-color: $color-1-darker;
      color: #fff;
    }

    .nav > li > a[aria-selected="true"]::after {
      @include portable {
        position: absolute;
        content: " ";
        bottom: 0;
      	left: 50%;
      	height: 0;
      	width: 0;
        pointer-events: none;
        border: solid transparent;
        border-color: rgba($color-1-dark, 0);
      	border-bottom-color: #fff;
      	border-width: 1em;
        transform: translateX(-50%);
      }
    }

    .nav > li > a > span {
      @include portable {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%)translateX(-50%);
      }
    }

  }

  .tab--panel[aria-hidden='true'] {
    display: none;
  }

  .panel--box {
    margin: 0 0 1.5em 0;

    .inner {
      position: relative;
      float: left;
    }

    img {
      display: block;
    }

    figcaption {
      position: relative;
      height: 3em;
      background-color: $color-1-dark;
    }

    h4 {
      position: absolute;
      top: 50%;
      padding: .5em;
      margin: 0;
      font-size: 1em;
      font-weight: 700;
      color: #fff;
      transform: translateY(-50%);
    }

    .btn-group {
      float: left;
      width: 100%;
      background-color: $color-1-darker;

      @include portable {
        border-top: 0.075em solid rgba(#000, .1);
      }
    }

    .btn {
      margin: 0;
      color: rgba(#fff, .75);
      font-size: .75em;
      border: none;
      background-color: transparent;
      border-radius: 0;

      @include laptop {
        text-align: center;
      }

      &:focus,
      &:hover {
        color: #fff;
        text-decoration: underline;
      }
    }

    .btn--invert {
      @include palm {
        background-color: $color-2;
      }
    }

  }

}
