.page-template-template-home
.main--wrapper {
  margin: 0;

  .feature--blank {
    background-color: $color-1-dark;

    .owl-wrapper-outer {
      border: .5em solid #fff;
      border-radius: $base-border-radius;
    }

    .carousel .owl-prev {
      border-left: .5em solid #fff;
      background-color: $color-1-dark;
    }

    .carousel .owl-next {
      border-right: .5em solid #fff;
      background-color: $color-1-dark;
    }

    .text--intro {
      color: #fff;
      text-align: center;
    }

    h1 {
      font-size: 1.5em;

      @include portable {
        margin-top: .5em;
        font-size: 2.5em;
      }
    }

  }

  .feature--about {
    background-color: $color-1-darker;

    .content--box {
      @include portable {
        padding: 0;
        text-align: right;
        border-right: .25em dotted #fff;
      }

      h2 {
        color: #fff;
        font-size: 1.25rem;

        @include portable {
          padding-right: 1em;
          font-size: 2.25rem;
        }
      }

      p {
        color: rgba(#fff, .9);
        padding-right: 2em;
      }
    }

  }

}
