.single-medlemmar .main--content {
  background-color: #fff;

  .store--cover {

    @include media-breakpoint-up(lg) {
      max-height: em(400px);
      overflow: hidden;
    }
  }

  .store--cover img {


    @include media-breakpoint-up(lg) {
      transform: translateY(-25%);
    }
  }

  .store--cover h1 {
    text-align: center;
    font-weight: 700;
  }

    .nav {
      position: absolute;
      left: 50%;
      top: 75%;
      transform: translateX(-50%);
    }

    .nav > li {
      display: inline-block;
      padding: 1rem 1rem;
    }

    .nav > li > a {
      color: $color-1-darker;

      @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
      }
    }

  .content--box .nav > li {
    padding-left: .5rem;
  }
}
