.page-template-template-home
.main--wrapper {
  margin: 0;

  .feature {
    position: relative;
    padding: 4em 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }

  .feature--blank {
    padding: 0 0 2em;
    background-color: $color-1;

    @include portable {
      padding: 4em 0;
    }

    .image--border {
      margin: 0;
      border: .25em solid #fff;
      border-radius: $base-border-radius;

      @include portable {
        margin-top: 1em;
      }
    }

    h1 {
      color: #fff;
      font-size: 1.5rem;

      @include portable {
        margin-top: .5em;
        font-size: 2.5rem;
      }
    }

    p {
      color: $color-1-dark;
    }

    a {
      color: $color-1-dark;
      text-decoration: underline;

      @include palm {
        display: block;
        margin-top: 1em;
        white-space:pre-wrap;
      }
    }

  }

  .feature--about {
    background-color: $color-1-dark;

    &:before {
      position: absolute;
      content: " ";
      top: 0;
      left: 50%;
      border: solid transparent;
      border-color: rgba($color-1, 0);
      border-top-color: $color-1;
      border-width: 3em;
      transform: translateX(-50%);
    }

    .content--box {
      @include portable {
        padding: 0;
        text-align: right;
        border-right: .25em dotted #fff;
      }

      h2 {
        color: #fff;
        font-size: 1.25rem;

        @include portable {
          padding-right: 1em;
          font-size: 2.25rem;
        }
      }

      p {
        color: rgba(#fff, .9);
        padding-right: 2em;
      }
    }

  }

}
